.myclass{
    height: 100px;
    width: 100px;
    background: yellowgreen;
}
#fade{
    height: 100px;
    width: 100px;
    background: rgb(52, 29, 133);
}
#onoffmethod{
    border: 1px solid green;
    background: #ddd;
}
#onoffmultiple{
    color: red;
}
#slide{
    height: 100px;
    width: 100px;
    background: chocolate;
    color: white;
}
#anima{
    height: 100px;
    width: 100px;
    background: chocolate;
    color: white;
    position: relative;
}